<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>PROYECTOS</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <br>
    <ion-content>
      <ion-label >
        <div class="ion-text-justify">
        <h3>

          <br>
          <br>
        Proyecto 1: Inventario para tiendas
        <br>
        <br>
        .
El proyecto es sobre un sistema de información para poder: registrar productos con nombre,
descripción, fecha de vencimiento, cantidad, además realizar ventas y llevar el control del
inventario principalmente en tienda de barrio en Bosa, está diseñado para ser fácil de utilizar ya
que tuvieron en cuenta que la mayoría de las personas que tienen este tipo de empresas son
personas mayores, cuenta con varios módulos desde el Loguin hasta que se realiza la venta.
<br>
<br>
Proyecto 2: Inventario empresa de telas
<br>
<br>

El proyecto es sobre un sistema de información para poder: registrar productos con nombre,
descripción, cantidad, además realizar ventas y llevar el control del inventario para una empresa
de telas especifica, cuenta con varios módulos desde el Loguin hasta que se realiza la venta, lo que
me gusto de este proyecto es que tiene una ventana donde muestra el producto más vendido y
además que al realizar la compra indica si se tiene o no el inventario que se requiere disponible,
ellos identificaron que este proceso se estaba realizando de forma manual y de ahí nace la idea del
sistema de información.
<br>
<br>

Proyecto 3: Inventario empresa de cosméticos
<br>
<br>



El proyecto es sobre un sistema de información para poder: registrar productos cosméticos con
nombre, descripción, cantidad, además realizar ventas realizar ventas y llevar el control del
inventario para una empresa de cosméticos especifica, de este sistema me gusto que tenga algo
adicional a los demás y es que lleva el registro de la persona que realiza algún cambio, cuenta con
varios módulos desde el Loguin hasta que se realiza la venta.

<br>
<br>

Proyecto 4: Registro escuela de futbol

<br>
<br>

El proyecto es sobre un sistema de información para poder registrar las personas que ingresan a
ser parte de esta escuela de futbol, cuenta con varios módulos desde el Loguin hasta que se
registró del estudiante.

<br>
<br>

Proyecto 5: Membresía para control de inventarios
<br>
<br>

El proyecto es sobre un sistema de información para poder: registrar productos, realizar ventas y
llevar el control del inventario para las empresas que lo quieran adquirir, este tiene un costo
mensual ya que utilizan una herramienta que genera costos mensuales, de este sistema me gusto
que tenga mucha seguridad para el usuario, cuenta con varios módulos desde el Loguin hasta que
se realiza la venta.

<br>
<br>

Proyecto 6: Reserva de eventos

<br>
<br>

El proyecto es sobre un sistema de información para poder: realizar reservas de espacios para
diferentes tipos de evento, cuenta con varios módulos desde el Loguin hasta que se realiza la
venta, esta idea nace a raíz de las diferentes restricciones que se tuvo en la pandemia del covid-19.

<br>
<br>

Proyecto7: Ordenar en restaurante

<br>
<br>

El proyecto es sobre un sistema de información que permite ordenar comida para el restaurante,
los integrantes del grupo notaron una necesidad ya que esto se estaba haciendo de forma manual,
escribiendo en un papel lo que se quería comprar y así nació la idea de crearlo, cuenta con varios
módulos y perfiles de acuerdo con el rol de cada persona.
</h3>
      </div>
        
    
      </ion-label>
    </ion-content>